{% load static %}
{% include 'common/header.html' %}
<body>

<section class="interactive-section">
    <h1>Selecciona un músculo</h1>
    <p>Haz clic sobre el músculo que deseas explorar para descubrir ejercicios y rutinas recomendadas.</p>

    <!-- Contenedor donde se inyectará el SVG -->
    <div class="svg-container mt-4" id="svgCuerpoContainer"></div>

    <!-- Contenedor para los videos -->
    <div class="container my-5">
        <h3 class="text-center">Ejercicios recomendados</h3>
        <div id="videoContainer" class="row gy-4 justify-content-center mt-3"></div>
    </div>
</section>

<script src="{% static 'js/cuerpo_interactivo.js' %}"></script>
{% include 'common/footer.html' %}
</body>
