{% include "common/staff/staff_header.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h2 class="mb-4 text-center text-danger">¿Estás seguro de que quieres eliminar este elemento?</h2>

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'staff_lista_centros' %}" class="btn btn-secondary">
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-danger">
                            Sí, eliminar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
