{% include "common/staff/staff_header.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Músculos</h2>
    <a href="{% url 'staff_crear_musculo' %}" class="btn btn-success mb-3">Añadir nuevo músculo</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for musculo in musculos %}
            <tr>
                <td>{{ musculo.nombre }}</td>
                <td>
                    <a href="{% url 'staff_editar_musculo' musculo.pk %}" class="btn btn-sm btn-primary">Editar</a>
                    <a href="{% url 'staff_eliminar_musculo' musculo.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No hay músculos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
