{% load static %}
{% include 'common/header2.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Contacto</title>
    <!-- Bootstrap CSS CDN -->
     <style>
    label[for="id_email"]{
        display: flex;
    }

    </style>
    
</head>
<body class="my-5">
    <div class="container mt-5" style="max-width: 600px;">
        <h1 class="mb-4 text-center">Formulario de Contacto</h1>
        
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </form>
    </div>

    <!-- Bootstrap JS Bundle (opcional) -->
    
</body>
</html>

{% include 'common/footer.html' %}