{% load static %}
{% include 'common/header.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>

</head>
<body class="password-page">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5 ms-auto">

        <div class="password-container">
            <h2>¿Olvidaste tu contraseña?</h2>
            <p>Introduce tu dirección de correo electrónico para recibir un enlace de recuperación.</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-password">Enviar enlace</button>
            </form>

            <p class="back-text"><a href="{% url 'account_login' %}">Volver al inicio de sesión</a></p>
        </div>
    </div>

</body>
</html>
